{
  "extends": [
    "ta/organization",
    "ta/frontend"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "__DEV__": false,
    "__PROD__": false
  }
}
